@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);

/*=============== IMPORT FONTS ===============*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Mogra);

/*=============== IMPORT ICONS ===============*/
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);

/* =============== COLORS =============== */
:root{
    --white: #FFFFFF;
    --black: #000000;

    --ivory: #F5F1F1;
    --light-gray: #C4C4C4;
    --transBlack: rgba(0, 0, 0, 0.65);

    --pink: #EC008C;
    --red: #ED1C24;
    --orange: #F99D1C;
    --blue: #008FD5;
    --purple: #802A90;
    --rainbow: linear-gradient(90deg,#EC008C, #ED1C24, #F99D1C, #008FD5, #802A90);
}

/* =============== HEADER =============== */
.header {
    background-color: var(--ivory);
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.header-logo {
    max-width: 70px;
    display: block;
    margin: 0;
}

.fas.fa-bars{
    font-size: 140%;
    color: var(--pink);
    margin: 10%;
}

.cel {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mynavbar .navbar-nav .nav-link{
    color: var(--pink);
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    border-radius: 30%;
}

.mynavbar .navbar-nav .nav-link:hover{
    color: var(--black);
}

.mynavbar .navbar-nav .active>.nav-link, .mynavbar .navbar-nav .nav-link.active, .mynavbar .navbar-nav .nav-link.show, .mynavbar .navbar-nav .show>.nav-link {
    color: var(--white);
    font-weight: bolder;
    background-image: var(--rainbow);
}

/* =============== FOOTER =============== */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 5px solid var(--light-gray);
    background-color: var(--ivory);
}

/* -------- Text -------- */
.footer-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 75%;
    text-align: left;
}

.footer-text p {
    margin: 0;
}

/* -------- Logo -------- */
.footer-logo {
    width: 40px;
    display: block;
    margin:auto;
}

/* -------- Social Icons -------- */
.icon-nav{
    float: right;
    font-size: 90%;
}

.footer-icon-nav-link {
    display: block;
    padding-top: 25%;
}

.footer-icon-nav-link i {
    color: var(--pink);
}

.footer-icon-nav-link i:hover {
    color: var(--black);
}

.vertical-separator{
    border:         none;
    border-left:    3px solid var(--white);
    height:         15px;
    width:          1px;
}

/* =============== SING IN/UP MODAL =============== */

.signModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.modal-backdrop.show {
    opacity: 0.7;
}

.signModal-img {
    width: 25%;
}

.signModal-group button {
    font-family: 'Mogra', sans-serif;
    color: var(--pink);
}

/* -------- Form -------- */
.myform {
    width: 80%;
    display: inline-block;
    text-align: center;
}

.btn-myform {
    padding-bottom: 0.2%;
    font-family: 'Mogra', sans-serif;
    color:lightgray;
    background-color:whitesmoke;
    border-color:lightgray;
}

.btn-myform:hover {
    color: var(--pink);
    background-color:whitesmoke;
}

.btn-myform.focus,.btn-myform:focus {
    box-shadow:0 0 0 .2rem rgba(130,138,145,.5);
}

.btn-myform.disabled,.btn-myform:disabled {
    color:#fff;
    background-color:#6c757d;
    border-color:#6c757d;
}

.btn-myform:not(:disabled):not(.disabled).active,.btn-myform:not(:disabled):not(.disabled):active,.show>.btn-myform.dropdown-toggle {
    color:#fff;
    background-image:var(--rainbow);
    border-color:#4e555b;
}

.btn-myform:not(:disabled):not(.disabled).active:focus,.btn-myform:not(:disabled):not(.disabled):active:focus,.show>.btn-myform.dropdown-toggle:focus {
    box-shadow:0 0 0 .2rem rgba(130,138,145,.5);
}

.input-myform {
    margin-top: 2%;
    font-family: 'Monserrat', sans-serif;
    border: 1.5px solid var(--pink);
}

.input-myform:focus {
    border: 1.5px solid var(--pink);
    box-shadow:0 0 0 .2rem rgba(236, 0, 140, 0.34);
}

.termsAndPolicies {
    padding: 10% 0 1% 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 60%;
    color: gray;
}

.myform-button {
    color: var(--white);
    font-family: 'Monserrat', sans-serif;
    font-style: normal;
    font-size: 90%;
    text-transform: uppercase;
    padding: 2% 6% ;
    border-radius: 50px;
    border: none;
    background-color: var(--pink);
}

.myform-button:hover {
    background-image: var(--rainbow);
}

/* -------- Forgot password -------- */

.forgotPassword{
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    color: lightgray;
    float: right;
    margin-top: 2%;
}

/* -------- Otros accesos rápidos -------- */
.otherAccess {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.otherAccess > p {
    color: var(--pink);
    font-size: 80%;
    margin-left: 2%;
}

.otherAccess > .social-navbar {
    font-size: 170%;
}

.social-navbar > a {
    margin-left: 3%;
}

.social-navbar > a:hover {
    color: var(--black);
}

.google {
    color: #DB4437;
}

.facebook {
    color: #3b5998;
}

.instragram {
    color: #c32aa3;
}

.twitter {
    color: #1da1f2;
}

.pinterest {
    color: #bd081c;
}

/* =============== USER SHORT PROFILE =============== */
.user_shortName {
    color: var(--pink);
    font-family: 'Mogra', sans-serif;
    margin-right: 10%;
    font-size: large;
}

.user_shortName:hover {
    color: var(--black);
    text-decoration: none;
}

.user_shortPhoto {
    width: 67px;
    background: var(--rainbow);
    border: 3px solid transparent ;
    border-radius: 50px;
    padding: 1px;
}

/* =============== PAGINATION =============== */
.paginate {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -173%;
}

.paginate a {
    border: none;
    color: var(--pink);
}

.paginate a:hover {
    color: var(--black);
}

.disabled{
    background-color: whitesmoke;
}

.active {
    font-weight: bolder;
}

.paginate i {
    text-align: center;
    margin-top: 15%;
    background: -webkit-linear-gradient(left, var(--pink),var(--red),var(--orange),var(--blue),var(--purple));
    background-size: 75% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
