@import "app.css";

/* =============== NAV =============== */

.catalog-nav-bar{
    background-color: var(--ivory);
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    text-transform: uppercase;
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
}

.catalog-nav-bar ul{
    margin-inline-start: 5px;
}

.catalog-nav-bar li {
    display: inline;
    width: fit-content;
    padding: 12px;
}

.catalog-nav-bar a{
    text-decoration: none;
    color: var(--pink);
}

.catalog-nav-bar a:link{
    text-decoration: none;
    color: var(--pink);
    padding: 12px;
}

.catalog-nav-bar a:visited{
    text-decoration: none;
    color: var(--pink);
}

.catalog-nav-bar a.pops:active{
    background-color: var(--red);
    color: var(--white);
}

.clothesActive{
    background-color: var(--purple);
    color: var(--white);
}

.catalog-nav-bar a.pops:hover{
    background-color: var(--red);
    color: var(--white);
    height: 100%;
}

.catalog-nav-bar a.manga:active{
    background-color: var(--orange);
    color: var(--white);
}

.catalog-nav-bar a.manga:hover{
    background-color: var(--orange);
    color: var(--white);
}

.catalog-nav-bar a.electronics:active{
    background-color: var(--blue);
    color: var(--white);
}

.catalog-nav-bar a.electronics:hover{
    background-color: var(--blue);
    color: var(--white);
}

.catalog-nav-bar a.clothes:hover{
    background-color: var(--purple);
    color: var(--white);
}

.catalog-nav-bar form{
    display: inline;
    margin-inline-start: 2em;
}

.catalog-nav-bar input[type=search]{
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid var(--pink);
    color: gray;
    opacity: 50%;
    padding-left: 5px;
}

.search-icon{
    color: var(--pink);
}

@media (max-width: 60em) {
    .catalog-nav-bar input[type=search], .search-icon {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
}

.catalog-nav-bar .cart{
    margin-inline-start: 5%;
    position:absolute;
    right: 2%;
}

.catalog-nav-bar .cart #count{
    font-weight: bold;

}

.catalog-nav-bar .cart p{
    display: inline;

}

.catalog-nav-bar .cart a:hover{
    background-color: var(--pink);
    color: var(--white);
}

.catalog-nav-bar .cart a:active{
    background-color: var(--pink);
    color: var(--white);
}

/* =============== Filters =============== */
.filters{
    margin: 3% 0 3% 0;
    height: fit-content;
    background-color: #F5F1F1;
    width: 100%;
}

.filters section{
    margin-inline-start: 15px;
    margin-inline-end: 5px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid var(--white);
    padding: 10px 10px 20px 30px;
}

.filters section p{
    color: var(--pink);
    font-size: 14px;
}

.filters #title{
    background-color: var(--white);
    width: 12em;
    text-align: center;
    margin-top: 1em;
    color: var(--pink);
    padding-top: 1%;
    border-radius: 0px 15px 15px 0px;
}

.filters h4{
    font-family: 'Monserrat', sans-serif;
    font-size: 100%;
}

.filters input[type=submit]{
    border: none;
    color: var(--pink);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
    font-family: 'Monserrat', sans-serif;
    margin-inline-start: 25%;
    display: inline;
}

/* =============== Radio buttons =============== */
.radio{
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--white);
    border: 1px solid #DADADA;
}

.radio:hover input ~ .checkmark {
    background-color: #DADADA;
}

.radio input:checked ~ .checkmark {
    background-color: var(--pink);
}

/* =============== Slider =============== */
#slider-range{
    background-color: #747D88;
    width: 80%;
    height: 5px;
    margin-inline-start: 8px;
    margin-top: 30px;
}

#slider-range .ui-slider-handle{
   background-color: var(--black) ;
   border-radius: 3px;
   width: 2px;
   margin: 0%;
}

#slider-range .ui-slider-range {
    background: var(--rainbow);
    top: 0;
    height: 100%;
}

#min, #max {
    width: 50px;
    text-align: center;
    margin-top: 15px;
}

/* =============== Products section =============== */
.catalog-products-section{
    margin: 0.5% 0% 1.5% 0%;
    width: 100%;
    padding-bottom: 60px;
}

.catalog-products-section #section-div{
    margin-top: 2%;

}

@media (min-width: 485px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1070px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 1500px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

/* =============== PAGINATION =============== */
.paginate {
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
}

.paginate a {
    border: none;
    color: var(--pink);
}

.paginate a:hover {
    color: var(--black);
}

.disabled{
    background-color: whitesmoke;
}

.active {
    font-weight: bolder;
}

.paginate i {
    text-align: center;
    margin-top: 15%;
    background: -webkit-linear-gradient(left, var(--pink),var(--red),var(--orange),var(--blue),var(--purple));
    background-size: 75% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
