@import "app.css";
.newMessageButton{
    background-color: var(--pink);
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
}
.messagesList{
    margin: 50px;
    min-height: 607px;
    max-height: fit-content;
}
#message article{
    background-color: var(--white);
    border: 2px solid var(--pink);
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    padding: 20px;
}
.messagesList h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 22px;
    color: var(--black);
    border-radius: 15px;
    margin-left: 30px;
}
.messagesList h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 22px;
    color: var(--black);
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 30px;
}
#messageContent{
    padding: 20px;
    background: var(--ivory);
    border-radius: 15px;
}
#messageAnswer{
    padding: 20px;
    background: var(--ivory);
    border-radius: 15px;
}
#messageAnswer form{
    margin-left: 35%;
}
#messageAnswer textarea{
    width: 45%;
    border-radius: 15px;
}
#p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;

    color: #000000;
}
#newMessage{
    width: 28%;
    border-radius: 15px;
    background: var(--ivory);
    padding: 20px;
    margin-left: 40%;
}
input[type="text"] {
    width: 100%;
    border-radius: 5px;
    border-color: var(--pink);
    margin: 1%;
    font-family: 'Monserrat', sans-serif;
}
#content{
    width: 100%;
    border-radius: 5px;
    border-color: var(--pink);
    margin: 1%;
    font-family: 'Monserrat', sans-serif;
    height: 100px;
}
input.newMessageButton {
    margin-left: 50%;
}
