.content{
    margin: 0 auto;
}

.catalog-nav-bar{
    background-color: #F5F1F1;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
}

.catalog-nav-bar ul{
    display: inline;
    margin-inline-start: 5em;
}

.catalog-nav-bar li {
    display: inline;
    margin-left: 10px;
}

.catalog-nav-bar a{
    text-decoration: none;
    color: #EC008C;
}

.catalog-nav-bar a:link{
    text-decoration: none;
    color: #EC008C;
    padding: 17px 13px;
}

.catalog-nav-bar a:visited{
    text-decoration: none;
    color: #EC008C;
}

.catalog-nav-bar a.pops:active{
    background-color: #ED1C24;
    color: white;
}

.catalog-nav-bar a.manga:active{
    background-color: #F99D1C;
    color: white;
}

.catalog-nav-bar a.electronics:active{
    background-color: #008FD5;
    color: white;
}

.catalog-nav-bar a.clothes:active{
    background-color: #802A90;
    color: white;
}

.catalog-nav-bar form{
    display: inline;
    margin-inline-start: 2em;
}

.catalog-nav-bar input[type=search]{
    font-size: 15px;
    border-radius: 10px;
    color: gray;
    opacity: 45%;
}

.filters{
    margin-top: 20px;
    margin-block-end: 20px;
    float: left;
    height: 50em;
    background-color: #F5F1F1;
}

.container{
    margin-top: 20px;
    margin-block-end: 20px;
    margin-left: 20px;
    float: right;
    height: 50em;
    width: 70em;
    background-color: #F5F1F1;
}