.content{
    margin: 0 auto;
}

.catalog-nav-bar{
    background-color: #F5F1F1;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
}

.catalog-nav-bar ul{
    display: inline;
    margin-inline-start: 5em;
}

.catalog-nav-bar li {
    display: inline;
    margin-left: 10px;
}

.catalog-nav-bar a{
    text-decoration: none;
    color: #EC008C;
}

.catalog-nav-bar a:link{
    text-decoration: none;
    color: #EC008C;
    padding: 17px 13px;
}

.catalog-nav-bar a:visited{
    text-decoration: none;
    color: #EC008C;
}

.catalog-nav-bar a.pops:active{
    background-color: #ED1C24;
    color: white;
}

.catalog-nav-bar a.manga:active{
    background-color: #F99D1C;
    color: white;
}

.catalog-nav-bar a.electronics:active{
    background-color: #008FD5;
    color: white;
}

.catalog-nav-bar a.clothes:active{
    background-color: #802A90;
    color: white;
}

.catalog-nav-bar form{
    display: inline;
    margin-inline-start: 2em;
}

.catalog-nav-bar input[type=search]{
    font-size: 15px;
    border-radius: 10px;
    color: gray;
    opacity: 45%;
}

.filters{
    margin-top: 20px;
    margin-block-end: 20px;
    float: left;
    height: fit-content;
    background-color: #F5F1F1;
    width: 21%;
}

.filters section{
    margin-inline-start: 15px;
    margin-inline-end: 5px;
    padding-bottom: 15px;
    border-bottom: 1.5px solid white;
    padding: 10px;
}

.filters section p{
    color: #EC008C;
    font-size: 14px;
}

.filters #title{
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    color: #EC008C;
    margin: 0 auto;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
}

.radio{
    display: block;
    position: relative;
    padding-left: 18px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: white;
    border: 1px solid #DADADA;
}

.radio:hover input ~ .checkmark {
    background-color: #DADADA;
}

.radio input:checked ~ .checkmark {
    background-color: #EC008C;
}


.cart{
    margin-left: 15em;
    margin-top: 5em;
    background-color: #F5F1F1;
    margin-right: 15em;
    padding: 1% 3% 1% 3%; 
}

.cart h1{
    background-color: white;
    border-radius: 10px;
    color: #EC008C;
    width: fit-content;
    padding: 1%;
    margin-inline-start: 13em;
}

.cart table {
    border-collapse: collapse;
    width: 100%;
}

.cart #column-name{
    font-weight: bold;
    color: #EC008C;
    font-style: italic;
    border-bottom: 1.5px solid #EC008C;
}

.cart #items{
    border-bottom: 1.5px solid #DADADA;
}
  
.cart th, td {
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

.cart button {
    background-color: #EC008C; /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    border-radius: 8px;
    margin-inline-start: 30em;
    margin-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

#slider-range{
    background-color: #747D88;
    width: 80%;
    height: 5px;
    margin-inline-start: 8px;
}

#slider-range .ui-slider-handle{
   background-color: black ; 
   border-radius: 3px;
   width: 2px;
   margin: 0%;
}

#slider-range .ui-slider-range {
    background: linear-gradient(89.93deg, #EC008C -0.03%, #ED1C24 23.19%, #F99D1C 49.05%, #008FD5 74.38%, #802A90 101.3%);
    top: 0;
    height: 100%;
}

#min, #max {
    width: 50px;
    text-align: center;
    margin-top: 15px;
}